<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Thumbnailer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Thumbnailer.Properties.Settings>
            <setting name="DefaultWidth" serializeAs="String">
                <value>384</value>
            </setting>
            <setting name="DefaultHeight" serializeAs="String">
                <value>288</value>
            </setting>
            <setting name="DefaultFilenamePattern" serializeAs="String">
                <value>{0}_thumb{2}.{1}</value>
            </setting>
        </Thumbnailer.Properties.Settings>
    </userSettings>
</configuration>